.first-chart-container {
    width: 800px;
    margin: 0 auto;
}
.second-chart-container {
    width: 800px;
    margin: 0 auto;
}

.wrapper {
    height: 90vh;
    display: flex;
    align-items: center;
}
